.login-page, .register-page {
    background: #720b07;
    background: -webkit-linear-gradient(to right, #5e130b, #a30e1f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5e130b, #a30e1f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    align-items: center;
    .login-card {
        margin-top: 70px;
        background: #fff;
        border-radius: 12px;
        padding: 40px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        
        h3 {
            font-family: 'HW Nuckle Trial';
            font-weight: 900;
            font-size: 36px;
            text-align: center;
        }
        p {
            font-size: 16px;
            text-align: center;
            margin-bottom: 0px;
        }
    }
    
}