# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/frontend/public/main.js
/frontend/package-lock.json
/yarm.lock

# testing
/coverage

# production
/build
/backend/env
/backend/__pycache__
/backend/src/__pycache__
/backend/src/**/__pycache__
.DS_Store
/backend/.flaskenv