.swiper {
  width: 100%;
  height: 100%;
  border-radius: 0px 0px 12px 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.react-card-flip {
    width: 100%;
}

.card-item {
    min-height: 400px;
    border-radius: 0px 0px 8px 8px;
    width: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    position: relative;
    p {
        margin-bottom: 4px;
        text-transform: uppercase;
    }
    h2 {
        color: #000;
    }
    .bottom {
        position: absolute;
        bottom: 20px;
        p {
            font-size: 16px;
            font-weight: 600;
        }
    }
    &.final-view {
        p {
            font-size: 40px;
            text-transform: none;
        }
    }
}
