.home {
    .masthead {
        background: #221daf;
        // background: -webkit-linear-gradient(to right, #5e130b, #a30e1f);  /* Chrome 10-25, Safari 5.1-6 */
        // background: linear-gradient(to right, #5e130b, #a30e1f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background-size: cover;
        background-position: center center;
        min-height: 500px;
        display: flex;
        align-items: center;
        padding: 50px 0px 100px;
        position: relative;

        @media (max-width: 767px) {
            padding: 112px 20px;
        }

        h1 {
            line-height: 70px;
            font-size: 60px;
            font-weight: 900;
            margin-top: 30px;
            margin-bottom: 8px;
            color: #fff;
            font-family: 'HW Nuckle Trial';
            @media (max-width: 991px) { 
                line-height: 50px;
                font-size: 35px;
                font-weight: 900;
                margin-top: 0px;
            }
        }
        p {
            font-size: 20px;
            line-height: 32px;
            color: #fff;
        }
        img {
            @media (max-width: 991px) { 
                margin-top: 50px;
            }
        }
        .btn-flex {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
        }
        button {
            font-weight: 600;
            border: none;
        }
        .btn-main {
            background: #FFC544;
            border-radius: 8px;
            padding: 10px 20px;
            height: 56px;
            display: inline-block;
            color: #000;
        }
        .btn-outline {
            background: #fff;
            border-radius: 8px;
            padding: 10px 20px;
            height: 56px;
            color: #222;
        }
    }
    .explore {
        background: #FFC544;
        background-size: cover;
        background-position: center center;
        min-height: 700px;
        display: flex;
        padding: 72px 0px 140px;
        position: relative;

        @media (max-width: 767px) {
            padding: 72px 20px;
        }

        h1 {
            line-height: 70px;
            font-size: 50px;
            font-weight: 700;
            margin-top: 30px;
            margin-bottom: 0px;
            font-family: 'HW Nuckle Trial';
            @media (max-width: 991px) { 
                line-height: 50px;
                font-size: 35px;
                font-weight: 900;
                margin-top: 0px;
            }
        }
        p {
            font-size: 20px;
            line-height: 32px;
            margin-bottom: 70px;
        }
        .explore-card {
            min-height: 200px;
            border-radius: 12px;
            background: #fff;
            padding: 20px;
            display: flex;
            // align-items: flex-end;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            h4 {
                margin-bottom: 0px;
            }
            &.red {
                background: #AB052F;
                h4 {
                    color: #fff;
                }
            }
            &.purple {
                background: #6C079F;
                h4 {
                    color: #fff;
                }
            }
            &.green {
                background: #05793C;
                h4 {
                    color: #fff;
                }
            }
            &.explore {
                background: #FFEAC0;
            }
        }
    }
    .how-it-works {
        background: #FFF4E3;
        background-size: cover;
        background-position: center center;
        min-height: 700px;
        display: flex;
        align-items: center;
        padding: 72px 0px 140px;
        position: relative;

        @media (max-width: 767px) {
            padding: 112px 30px;
        }

        h1 {
            line-height: 70px;
            font-size: 60px;
            font-weight: 900;
            margin-top: 30px;
            margin-bottom: 8px;
            color: #000;
            font-family: 'HW Nuckle Trial';
            @media (max-width: 991px) { 
                line-height: 50px;
                font-size: 35px;
                font-weight: 900;
                margin-top: 0px;
            }
        }
        p {
            font-size: 20px;
            line-height: 32px;
            color: #000;
            margin-bottom: 40px;
        }

        .explainer-item {
            padding: 30px 30px;
            border-radius: 12px;
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #fff;
            p, i {
                font-size: 18px;
                line-height: 32px;
                font-weight: 700;
                color: #000;
                margin: 0px;
            }
            i {
                font-size: 30px;
                font-weight: 500;
            }
        }
    }
}