.navbar {
    background: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    .navbar-brand {
        padding: 8px 0px;
        i {
            margin-right: 10px;
            color: #221daf;
        }
        img {
            margin-right: 10px;
            width: 170px;
            @media (max-width: 500px) {
                width: 130px;
            }
        }
        color: #000;
        font-size: 28px;
        font-weight: 900;
        font-family: 'arial';
        span {
            color: #221daf;
        }
        @media (max-width: 767px) {
            font-size: 20px;
        }
    }
    .navbar-nav {
        display: flex;
        align-items: center;
        gap: 30px;
    }
    .nav-link {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: -0.3px;
        color: #121212;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            margin-left: 10px;
        }
        &:hover {
            color: #221daf;
        }
    }
    .dropdown-menu-center {
        right: auto;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
    .dropdown-menu[data-bs-popper] {
        margin-top: 2rem;
        border-radius: 8px;
        background: #121212;
        min-width: 500px;
        padding: 20px 20px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.8), 0 4px 12px rgba(0, 0, 0, 0.36), inset 0 0 0 0.5px rgba(237, 237, 237, 0.36);
        h5 {
            margin-bottom: 0px;
            font-size: 16px;
            font-weight: 600;
        }
        p {
            opacity: 0.7;
            font-size: 14px;
            margin-bottom: 0px;
        }
        a {
            text-decoration: none;
            color: inherit;
        }
        .why-item {
            margin-bottom: 20px;
            padding: 15px;
            border-radius: 8px;
            &:hover {
                background: #333;
                h5 {
                    color: #F8BC3B;
                }
            }
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
    .ml-auto {
        margin-left: auto;
    }
    .navbar-toggler, button.btn-main {
        padding: 10px 32px;
        font-size: 14px !important;
        font-weight: 600;
        font-family: Inter;
        color: #fff;
        background: #221daf;
        border: 2px solid #221daf;
        border-radius: 8px;
        i {
            font-weight: 600;
        }
        &:hover {
            background: #221daf;
            border: 2px solid #221daf;
            color: #fff;
        }
        &:focus, &:hover {
            box-shadow: none !important;
        }
        @media (max-width: 767px) {
            padding: 10px;
            font-size: 14px !important;
        }
    }
    @media (max-width: 767px) {
        padding: 5px 20px;
    }
}
.btn {
    &:focus, &:hover {
        box-shadow: none !important;
    }
}