.dashboard-commons {
    padding: 20px 0px;
    background: #FFFAF5;
    min-height: calc(100vh - 75px);
    .flash-card__list {
        p.title {
            font-size: 16px;
            color: #000;
            font-weight: 600;
        }
        .flash-card__item {
            background: #fff;
            padding: 30px 30px 20px;
            margin-bottom: 20px;
            cursor: default;
            border-radius: 8px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            h5 {
                margin-bottom: 8px;
                font-weight: 600;
                color: #221daf;
            }
            .visibility-status {
                color: #757575;
                font-weight: 500;
            }
            i {
                font-size: 20px;
                font-weight: 400;
            }
            .menu {

            }
            p {
                color: #222;
                &.description {
                    font-size: 16px;
                    margin-bottom: 4px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                &.items-count {
                    font-size: 14px;
                    font-weight: 600;
                    color: rgb(88, 88, 88);
                    line-height: 20px;
                    margin-bottom: 20px;
                }
            }
            .bottom-section {
                p {
                    margin-bottom: 0px;
                    font-size: 14px;
                    text-align: right;
                }
            }
            .menu {
                padding: 20px 0px 0px;
                .btn {
                    padding: 0px;
                    font-size: 14px;
                    display: flex;
                    font-weight: 500;
                    align-items: center;
                    gap: 7px;
                }
            }
        }
    }
    .empty-pane {
        p {
            font-size: 20px;
        }
    }
}

.dashboard-page {
    .welcome-card {
        background: #221daf;
        border: none;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        margin-top: 40px;
        border-radius: 12px;
        padding: 26px 30px;
        margin-bottom: 30px;
        h3 {
            color: #fff;
            font-family: 'HW Nuckle Trial';
            margin-bottom: 4px;
        }
        p {
            font-size: 16px;
            color: #fff;
            margin-bottom: 0px;
        }
        &.practice-deck {
            padding-top: 13px;
            .back-icon {
                cursor: pointer;
            }
        }
    }
}

.explore-page {
    .masthead {
        text-align: center;
        padding: 70px 0px 30px;
        h2 {
            color: #221daf;
            font-family: 'HW Nuckle Trial';
            font-size: 40px;
            font-weight: 800;
            margin-bottom: 4px;
        }
        p {
            font-size: 18px;
            color: #000;
            margin-bottom: 0px;
        }
    }

    .search-pane {
        input {
            height: 56px;
            padding: 0px 30px;
        }
    }
}

.create-deck-page {
    // background: #221daf;
    .header-card {
        margin-top: 30px;
        background: #221daf;
        border-radius: 8px;
        padding: 40px 40px 50px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
    .page-header {
        h3 {
            font-size: 25px;
            padding-bottom: 4px;
            color: #fff;
            font-family: 'HW Nuckle Trial';
            font-weight: 900;
            margin-bottom: 20px;
        }
        p {
            font-size: 16px;
            color: #000;
            margin-bottom: 8px;
        }
        .btn {
            display: inline-block;
        }
    }
    label {
        color: #fff;
    }
    input {
        border-radius: 8px;
        padding: 7px 20px;
    }
    textarea {
        min-height: 100px;
        margin-top: 8px;
        resize: none;
        border-radius: 8px;
        padding: 15px 20px;
    }

    .visibility {
        display: flex;
        align-items: center;
        span {
            font-size: 18px;
            margin-top: 5px;
        }
    }

    h3.title {
        // font-size: 18px;
        font-weight: 600;
        color: #221daf;
        margin-bottom: 28px;
    }

    p {
        font-size: 18px;
        font-weight: 600;
        color: #221daf;
    }

    .btn {
        background: #fff;
        padding: 7px 20px;
        font-size: 16px;
        font-weight: 600;
        color: #221daf;
        i {
            font-weight: 600;
        }
    }

    .btn-mains {
        border: 2px solid #221daf;
        color: #221daf;
    }

    .flash-card__content {
        border-radius: 8px;
        background-color: #fff;
        margin-bottom: 30px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        
        .header {
            background: #221daf;
            padding: 10px 30px;
            border-radius: 8px 8px 0px 0px;
            border-bottom: 2px solid #dddddd;
            span, i {
                font-size: 20px;
                color: #fff;
                margin-bottom: 0px;
            }
            span {
                font-weight: 600;
            }
        }
        .content {
            padding: 10px 30px;
        }

        label {
            color: #000;
        }
    }
    .btn-submit {
        background: #221daf;
        color: #fff;
        margin-bottom: 120px;
    }
}