.dashboard-commons {
    padding: 20px 0px;
    background: #f2f2f2;
    min-height: calc(100vh - 75px);
    .flash-card__list {
        p {
            font-size: 16px;
            color: #000;
        }
        .flash-card__item {
            background: #fff;
            padding: 30px 30px 20px;
            margin-bottom: 20px;
            cursor: pointer;
            border-radius: 8px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            h5 {
                margin-bottom: 8px;
                font-weight: 600;
            }
            i {
                font-size: 20px;
            }
            p {
                color: #222;
                &.description {
                    font-size: 16px;
                    margin-bottom: 4px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                &.items-count {
                    font-size: 14px;
                    font-weight: 800;
                    color: rgb(46, 46, 45);
                    line-height: 20px;
                    margin-bottom: 20px;
                }
            }
            .bottom-section {
                p {
                    margin-bottom: 0px;
                    font-size: 14px;
                    text-align: right;
                }
            }
        }
    }
}

.dashboard-page {
    .welcome-card {
        background: #221daf;
        border: none;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        margin-top: 20px;
        border-radius: 12px;
        padding: 16px 30px;
        margin-bottom: 30px;
        h3 {
            color: #fff;
        }
        p {
            font-size: 16px;
            color: #fff;
            margin-bottom: 0px;
        }
    }
}

.explore-page {
    .masthead {
        text-align: center;
        padding: 70px 0px 30px;
        h2 {
            color: #221daf;
            font-family: 'HW Nuckle Trial';
            font-size: 40px;
            font-weight: 800;
            margin-bottom: 4px;
        }
        p {
            font-size: 18px;
            color: #000;
            margin-bottom: 0px;
        }
    }

    .search-pane {
        input {
            height: 56px;
            padding: 0px 30px;
        }
    }
}

.create-deck-page {
    background: #221DAF;
    .page-header {
        margin-top: 30px;
        border-bottom: 2px solid #6d69dd;
        h3 {
            font-size: 30px;
            padding-bottom: 4px;
            color: #fff;
            margin-bottom: 8px;
        }
        p {
            font-size: 16px;
            color: #f2f2f2;
            margin-bottom: 8px;
        }
        .btn {
            display: inline-block;
        }
    }
    label {
        color: #fff;
    }
    input {
        border-radius: 8px;
        padding: 7px 20px;
    }
    textarea {
        min-height: 100px;
        margin-top: 8px;
        resize: none;
        border-radius: 8px;
        padding: 15px 20px;
    }

    .visibility {
        display: flex;
        align-items: center;
        span {
            font-size: 18px;
            margin-top: 5px;
        }
    }

    p {
        font-size: 18px;
        color: #fff;
    }

    .flash-card__content {
        // min-height: 200px;
        padding: 30px;
        border-radius: 12px;
        background-color: #fff;
        margin-bottom: 30px;

        label {
            color: #000;
        }

        .form-control {
            // margin-bottom: 0px;
        }
    }
}