.sidebar--container {
    display: none;
    
    @media (min-width: 1024px) {
        display: flex;
    }

    &.show {
         display: flex;
    }
}

.mobileNav--trigger {
    display: none;

    &.show {
         display: flex;
    }
}

.sidebar--overlay {
    // display: none;

    &.show {
         display: flex;
    }
}

.top__notice {
    min-height: 100px;
    transition: all .2s;

    .setup__btn {
        width:120px;
        height:40px;
    }

    &.show {
        opacity: 1;
        pointer-events: all;
    }

    &.close {
        opacity: 0;
        pointer-events: none;
    }
}