@import "./../node_modules/antd/dist/antd.css";
@import "assets/fonts/nuckle/stylesheet.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


input.form-control {
  height: 56px;
  margin-top: 8px;
  margin-bottom: 20px;
  border-radius: 8px;
}

label {
  font-size: 16px;
}

.btn-main {
  background: #000;
  border-radius: 8px;
  padding: 10px 20px;
  height: 48px;
  font-size: 16px;
  color: #fff;
}

.btn-block {
  width: 100%;
}